/* Início importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
/* Fim importação de fontes */

/* Início NavBar */
.logo{
    width: 130px;
    transition: all linear 160ms;
}

.logo:hover{
    transform: scale(1.05);
}

.navnavbar{
    background-color: #FFF1E0;
    height: 120px;
    box-shadow: 0px 4px 4px rgba(59, 32, 11, 0.2);
}

.searchfield{
    width: 400px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgba(59, 32, 11, 0.3);
    color: black;
    padding: 15px;
}

.searchfield:focus{
    border: none;
    text-decoration: none;
    outline: none;
}

.searchiconfield{
    position: absolute;
    margin-left: -35px;
    margin-top: 7px;
    width: 30px;
    height: 30px;
}

.searchicon{
    width: 24px;
    height: 24px;
}

.person{
    width: 30px;
    height: 30px;
    margin-top: -1px;
    transition: all linear 160ms;
}

.person:hover{
    transform: scale(1.05);
}

.menu{
    transition: all linear 160ms;
    width: 30px;
    height: 30px;
}

.menu:hover{
    transform: scale(1.05);
}

.menutext{
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.dropdown-item:hover{
    background-color: rgba(59, 32, 11, 0.3);
    color: #FFF1E0;
}

.dropdown-item2{
    background-color: rgba(59, 32, 11, 0.3);
    color: white;
}

.dropdown-item2:hover{
    background-color: #3B200B;
}

.dropdown-menu{
    margin-left: -70px;
    background-color: #FFF1E0;
    width: 180px;
}

.shoppingbag{
    transition: all linear 160ms;
    margin-top: -4px;
    width: 30px;
    height: 30px;
}

.shoppingbag:hover{
    transform: scale(1.05);
}
/* Fim NavBar */

/* Início BreadCrumb */
.breadcrumb1{
    color: black;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

.breadcrumb1:hover{
    color: #3B200B;
}

.breadcrumbcurrent{
    color: black;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* Fim BreadCrumb */

/* Início Novidades */
.novidades{
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1{
    color: black;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.icon{
    margin-top: -2px;
}
/* Fim Novidades e Promoções */

/* Início Card */
.produto{
    transition: all linear 160ms;
    border: none;
}

.produto:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.cardimg{
    border-radius: 20px;
}

h5{
    color: #3B200B;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.descricao{
    color: black;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: justify;
}

.precoantes{
    color: rgb(37, 37, 37);
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-decoration: line-through;
    font-size: 13px;
    margin-top: -10px;
}

.preconovo{
    color: black;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: -20px;
    font-size: 20px;
}
/* Fim Card */

/* Início Footer */
.nav2{
    background-color: #FFF1E0;
    height: 310px;
    box-shadow: 0px -4px 4px rgba(59, 32, 11, 0.2);
}

.footertitle{
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    color: #3B200B;
}

.divfooterdesc{
    margin-left: -50px;
}

.footerdesc{
    color: black;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
}

.footerdesc:hover{
    cursor: pointer;
    color: rgba(59, 32, 11, 0.7);
}

.recebanovidades{
    position: absolute;
    border: 1px solid rgba(59, 32, 11, 0.2);
    width: 300px;
    height: 50px;
    padding: 10px;
}

.recebanovidades:focus{
    outline: none;
}

.copyright{
    color: black;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
}

.copyrighttitle{
    color: #3B200B;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    margin-top: -37px;
}
/* Fim Footer */